<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>飞行证生成器</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link type="text/css" rel="stylesheet" href="http://127.0.0.1/weiphp3/Addons/FlightId/View/default/css/reset.css"/>
<link type="text/css" rel="stylesheet" href="http://127.0.0.1/weiphp3/Addons/FlightId/View/default/css/born.css"/>
</head>

<body>
<div id="png">
	<!--<img src="http://127.0.0.1/weiphp3/Addons/FlightId/View/default/image/feixingzheng.png"/>-->
	<!--<p id="name">{$data.name}</p>
    <p id="date">{data.date}</p>-->
    <img src="http://www.zochdesign.com//jhz/flightid.php?name={$name}"/>
    <p id="tishi">提示：长按保存图片</p>
</div>
</body>
</html>
