<include file="Public/mobile_head"/>
<!doctype html>
<html>
<head>
  <!---->
  <meta charset="utf-8">
  <title>房产证生成器</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link type="text/css" rel="stylesheet" href="http://120.55.162.48/weiphp3/Addons/Survey/View/default/css/reset.css"/>
  <link type="text/css" rel="stylesheet" href="http://120.55.162.48/weiphp3/Addons/Survey/View/default/css/born.css"/>
</head>

<body>
<div id="png">

  <!--<img src="http://127.0.0.1/weiphp3/Addons/Survey/View/default/image/zheng.png"/>
  <p id="jieshou">{$name}</p>-->
  <img src="http://120.55.162.48/jhz/img.php?name={$name}"/>
  <p id="tishi">提示：长按图片保存</p>
</div>
</body>
</html>
